.special{
    font-size: 3em;
    background-color: chocolate;
    display: inline-block;
}

.textcolor{
    color: brown;
}
.textback{
    background-color: aquamarine;
}

.invalid{
    background-color: red;
}